body,div,a,p {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a {
    text-decoration: none;
}
body{
    background-color: black;
}
/* 固定导航栏开始 */
.header {
    /* 固定导航栏 */
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
    /* 设置宽高 */
    width: 100%;
    height: 48px;
    background-color: black;
    
}
/* 小盒子 */
.headerContent {
    width: 1200px;
    height: 48px;
 
    margin: auto;
}
/* 左面浮动logo */
.headerContent img {
    float: left;
    height: 48px;
    margin-top: 10px;
}
/* 右标签 */
.nav {

    float: right;
    line-height: 48px;

}
.nav a {
    
    margin-left: 40px;
    color: #a4a4a4;
}
.section {
    color: white;
}

.section1 {
    color: violet;
    background-image: url(../images/section1_bg.jpg);
    background-position: center;
}
.title-box {
    position: absolute;
    width: 100%;
 
    top:150px ;
}
.title-box p{
    font-size: 60px;
     text-align: center;
     color: white;
     margin-bottom: 25px;
     letter-spacing: 2px;  /*字间距*/
}
.title-box a {
    display: block;
    width: 300px;
    height: 60px;
    background-image: url(../images/links.png);
    margin:auto;
}
/* 链接变换 */
.title-box a:hover {
    background-position: -300px 0;

}
.ball1 {
    position: absolute;
    top: 22.7%;
    left: 20%;
    width: 13.2%;
    animation: ball 3s linear
    infinite alternate
    ;

}
.ball2 {
    position: absolute;
    top: 49.8%;
    left: 65.16%;
    width: 22.3%;
 animation: ball 5s linear
    infinite alternate
    ;
}
.ship {
    position: absolute;
    top:41.8%;
    left:63.96%;
    width: 7.2%;
    /* 设置旋转 */
    /* transform: rotate(30deg); */
    animation : ship 5s linear infinite alternate;

}
/* 创建动画 */
@keyframes ball {
    from {
                margin-top: 0;
    }
    to  {
                margin-top: -250px;

    }

}
@keyframes ship {
    from {
        transform: rotate(0deg);
    }
    to {
         transform: rotate(-45deg);   
    }

}
/* 第二屏幕视代码 */
.section video {
        width: 100%;
        height: 100%;
    
}
.word-content {
        position: absolute;
        left: 18%;
        background-color: black;
        /* 绝对盒子定位垂直居中方法 */
        top: 50%;
        transform:translateY(-50%);  /*位移自己盒子50%*/

}
.bigword {
    font-size: 60px;
}
.midword {
    font-size: 36px;
}
.smallword {
    font-size: 16px;
    margin-top: 20px;
}
.line {
    width: 28px;
    height: 3px;
    background-color: #5e5e5e;
    margin-top: 5px;
    margin-bottom: 5px;
}
.word-content a {
    display: block;
    width: 200px;
    height: 48px;
    margin-top: 50px;
    background-image: url(../images/link2.png);

}
.word-content a:hover {

    background-position: -200px 0;
}
.footer {

    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 120px;
    background-color: #131415;
    padding-top: 38px;
    text-align: center;
    color: #4a4a4a;
    font-size: 12px;
}
.footer img {
    vertical-align: middle;  /*与文字居*/
}